 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

$first-color: #53150E;
$second-color: #762D26;
$third-color: #8B4A43;

$font1: Exo;
$font2: Actor;
