 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

$first-color: #53150E;
$second-color: #762D26;
$third-color: #8B4A43;

$font1: Exo;
$font2: Actor;

body{
  background-color: $first-color;
}

header{
  font-family: $font1;
  #headerblock{
    width: 200px;
    color: white;
    height: 100px;
    background-color: $third-color;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    h1{
      text-align: center;
    }
  }
  h2{
    text-align: center;
    color: white;
    font-size: .9em;
  }
  nav{
    height: 40px;
    width: 100%;
    background: $third-color;
    border-bottom: solid 5px white;
    text-align: center;
    span{
      @include button(pill);
      color: white;
    }
  }
  img{
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    border-radius: 30px;
    border: solid $second-color 2px;
  }
}
